.search-flex{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    gap:1.5rem;
    padding:0.5rem 1.5rem;
    background-color: var(--darkgrey);
    width:80%;
    margin:1rem;
    margin:auto auto;
    border-radius: 3rem;
}
.search-flex input{
    background-color: var(--darkgrey);
    border:none;
    font-family: "Inter";
    color:var(--white);
    outline: none;
    width:100%;
}
