@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root{
  --white: #fff;
  --black: #111;
  --grey: #888;
  --blue: #3a80e9;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;  
}
body{
  margin:0;
  -webkit-font-smoothing:antialised;
  -moz-osx-font-smoothing: greyscale;
  background-color: var(--black);
  color:var(--white );
  font-family: 'Inter', sans-serif;
}
::selection{
  background-color: var(--blue);
  color:var(--white)
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a{
  color:var(--white);
  text-decoration: none;
}
.grey-wrapper{
  background-color: var(--darkgrey);
  margin:1.5rem auto;
  border-radius: 0.8rem;
  padding:0rem 0.2rem;
  width:90%;
}
.coins-days-flex{
  display:flex;
  justify-content: flex-start;
  align-content: center;
  margin:1rem;
}
canvas{
  height:100%;
  width:100%;
}